<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT datasheets ANY>
<!ATTLIST datasheets id ID #REQUIRED>
<!ELEMENT datasheetsCatecory ANY>
<!ATTLIST datasheetsCatecory id ID #REQUIRED>
<!ELEMENT datasheetsCatecoryChild ANY>
<!ATTLIST datasheetsCatecoryChild id ID #REQUIRED>
<!ELEMENT elearning ANY>
<!ATTLIST elearning id ID #REQUIRED>
<!ELEMENT elearningItem ANY>
<!ATTLIST elearningItem id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT installations ANY>
<!ATTLIST installations id ID #REQUIRED>
<!ELEMENT installationsItem ANY>
<!ATTLIST installationsItem id ID #REQUIRED>
<!ELEMENT kontakt ANY>
<!ATTLIST kontakt id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT newsItem ANY>
<!ATTLIST newsItem id ID #REQUIRED>
<!ELEMENT produkter ANY>
<!ATTLIST produkter id ID #REQUIRED>
<!ELEMENT produkterItem ANY>
<!ATTLIST produkterItem id ID #REQUIRED>

]>
<root id="-1">
  <home id="1052" key="a18eaf38-4043-4c03-b418-d502c78dacfb" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-10T00:04:50" updateDate="2018-12-23T15:04:04" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1050" nodeTypeAlias="home">
    <hideInNavigation>0</hideInNavigation>
    <boks3Txt><![CDATA[<p style="text-align: left;" class="font_8"> </p>
<p style="text-align: left;" class="font_8"><span><span class="color_11">Du skal selvfølgelig have mulighed for at betjene din installation med App. Så med vores løsninger er App inkluderet som standard. </span></span></p>]]></boks3Txt>
    <boks2Txt><![CDATA[<p style="text-align: left;"><span>Flere rum i ét. Med scene setting kan du f.eks. vælge om du vil have afslapning-, film-, eller fest- mode. Scenerne opsættes efter dine behov og ideer. Mest anvendte setting er sluk-alt knappen. </span></p>]]></boks2Txt>
    <boks2Heading><![CDATA[Nyd fordelen ved scene settings]]></boks2Heading>
    <boks3Heading><![CDATA[Gratis App]]></boks3Heading>
    <boks1Txt><![CDATA[<p style="text-align: left;"> </p>
<p style="text-align: left;"><span>Smarthouse systemer fra Contronic sikrer dig at du automatisk sparer på energien.  Med over 30 års erfaring og moduler fra <a href="http://www.conson.com" target="_blank">Conson</a> får du en optimal dansk udviklet, designet og produceret løsning .</span> </p>]]></boks1Txt>
    <boks1Heading><![CDATA[Spar på energien]]></boks1Heading>
    <textAreaButton><![CDATA[Find nærmeste Conson installatør]]></textAreaButton>
    <textAreaHeading><![CDATA[Perfekt til nybyggeri, renovering og store projekter]]></textAreaHeading>
    <textAreaTxt><![CDATA[<p class="font_7"><span><span class="color_2">Gør dit nye hus eller bygning intelligent med en Smart-building løsning. Hos Contronic servicerer vi Conson’s ‘Home and building automation system’.</span></span></p>
<p class="font_8"><span><span class="color_2">Med dette system, behøver du aldrig bekymre dig om høje energiudgifter, eller om du husker at låse fordøren. Systemet kan styre alt lys og diverse elektroniske apparater.</span></span> </p>
<p class="font_8"><span><span class="color_2">Find din nærmeste Conson-installatør og kom godt i hus med din fremtidssikrede installation.     </span></span></p>]]></textAreaTxt>
    <news id="1057" key="440308d1-a8bd-4eb2-bb8a-155a4b3b554e" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-03-10T00:20:27" updateDate="2016-03-10T21:19:40" nodeName="Nyheder" urlName="nyheder" path="-1,1052,1057" isDoc="" nodeType="1054" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1053" nodeTypeAlias="news">
      <hideInNavigation>0</hideInNavigation>
      <heading><![CDATA[Nyheder]]></heading>
      <newsItem id="1058" key="e11da60f-630a-4717-9848-d60bd1da59dd" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2016-03-10T00:30:53" updateDate="2016-03-10T21:35:20" nodeName="Kan du huske den her?‏" urlName="kan-du-huske-den-her" path="-1,1052,1057,1058" isDoc="" nodeType="1056" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1055" nodeTypeAlias="newsItem">
        <hideInNavigation>0</hideInNavigation>
        <picture><![CDATA[{
  "0": [
    {
      "alias": "News",
      "width": 900,
      "height": 300
    }
  ],
  "1": [
    {
      "alias": "News",
      "width": 900,
      "height": 300
    }
  ],
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1001/117964df-fdcc-4f2b-81fd-6b2a4418b595.jpg",
  "crops": [
    {
      "alias": "Nyheder",
      "width": 900,
      "height": 300,
      "coordinates": {
        "x1": 0,
        "y1": 0.29629629629629622,
        "x2": 0.061379521804153861,
        "y2": 0.18937890226115559
      }
    }
  ]
}]]></picture>
        <heading><![CDATA[Kan du huske den her?‏]]></heading>
        <text><![CDATA[<h1>Der var engang, hvor en pære "bare" var en pære.... </h1>
<p>Sådan er det ikke længere. <br /><br />Pæren som vi engang kendte den, har gennemgået en stor udvikling, og idag har LED-belysning, mere eller mindre, overtaget markedet. <br /><br />Som Conson-eksperter siden 1988, modtager vi ofte mange spørgsmål omhandlende dæmpning af LED. Derfor giver jeg dig her, de <span><strong>3 vigtigste spørgsmål man skal have styr på ved dæmpning af LED: </strong></span><br /> </p>
<p><span><strong><span>1. Dæmpbar hvad menes der med det?   </span> </strong></span><br /><br /><span>At LED-producenter oplyser at pærerne er dæmpbare, dækker over et bredt område.</span></p>
<p>Hvor langt ned kan pærene dæmpes? Og kan de tænde igen i hele området? Kan brugeren acceptere, at lyset f.eks. skal tændes ved 100% og efterfølgende dæmpes? Og kan lysdæmperen indstilles til dette hvis det er et krav? <br /><br /><span>Erfaringen siger at vi minimum skal kunne dæmpe ned til 10% restlys. Alt derover opleves ikke som om man dæmper lyset, idet øjnene kompenserer for første del via øjnenes lysfølsomhed.</span></p>
<p><br /><strong><span>2. Hvilke krav stiller Lyskilden [LED lampen] til dæmpning?</span></strong><span> </span><br /><span> </span><br /><span>Man kan her dele lyskilderne op i 3 hovedprincipper for krav.</span></p>
<ul>
<li><span>Forkantdæmper:</span> Hermed menes at lyskilden kræver at man regulerer på forkant af sinus-kurven. Et princip som er praktiseret gennem mange år med traditionelle triac dæmpere. Pærerne leveres til montering i E14 eller E27 fatninger.</li>
<li><span>Bagkantdæmper: </span>Hermed menes at lyskilden kræver at man regulerer på bagkant af sinus-kurven. Et princip som muliggøres med de såkaldte transistor dæmpere.</li>
<li><span>Styresignal:</span> Her er indsat en forkobling til lyskilden som modtager signal fra styringsmodul. Signal kan være 0-10V 1-10V Dali og DSI. Eksempler på lyskilden er LED paneler, LED strips osv. </li>
</ul>
<p> </p>
<p><span><strong>3. Hvilke krav stiller dæmperen til lyskilden? </strong></span><br /><br /><span>En af de hel store faldgrupper er, at man ved udskiftning af glødepærer til LED-pærer nedsætter effektforbruget så meget at man kommer under dæmperens arbejdsområde. Mange dæmpere har et arbejdsområde fra 40-60W og op til et maksimum niveau. </span><span>Kommer man under dæmperens minimum niveau opleves, at lyset er urolig og i nogle tilfælde blinker</span><span>. Et andet opmærksomhedspunkt er om dæmperen kan klare evt. startstrømme fra LED-pærerne.  Nogle LED-pærer har en startstrøm, der er op til 10 gange større end driftstrømsforbrug. </span></p>
<p>                                          <br />VIl du vide mere eller har spørgsmål omkring LED, er du velkommen til at skrive eller ringe <img class="Emoji$1F4DE$AF6 RenderedEmoji" src="https://a.gfx.ms/emoji_1F4DE.png" alt="Telefonrør" title="Telefonrør" />.  <br /><br />Mvh. <br />Arne Lund Mogensen <br />Contronic ApS <br /><br /><strong><span>PS: Fik jeg nævnt, at du kan få RABAT på LED-belysning? </span></strong><br /><a href="http://contronic.us12.list-manage1.com/track/click?u=0bcff25826bed9332b03408f7&amp;id=ee40534ca8&amp;e=17b5fd4c27" target="_blank">Tryk her, og du vil se en rabatkode </a>til køb af kvalitets belysning hos <span><a href="http://contronic.us12.list-manage.com/track/click?u=0bcff25826bed9332b03408f7&amp;id=c3d02c5cfc&amp;e=17b5fd4c27" target="_blank">wifiledlamp.com</a> </span></p>]]></text>
      </newsItem>
    </news>
    <produkter id="1130" key="eb3df751-e531-4d83-a567-8f9a8cd5923f" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-04-19T19:31:46" updateDate="2018-12-23T15:02:24" nodeName="Produkter" urlName="produkter" path="-1,1052,1130" isDoc="" nodeType="1125" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1124" nodeTypeAlias="produkter">
      <hideInNavigation>0</hideInNavigation>
      <heading><![CDATA[Produkter]]></heading>
      <textArea><![CDATA[Siden starten i 1988 har vi arbejdet med lys. Vi elsker lys. Dette afspejles i vores produktprogram. Conson moduler til overvågning , dæmpning og styring af husets installationer. 
Olimes print for udvikling af nye innovative produkter.  Med disse moduler er vi klar til nutidens og fremtidens løsninger.]]></textArea>
      <produkterItem id="1131" key="a5ffc9e5-ee1f-4a67-8b50-a4636987d4b8" parentID="1130" level="3" creatorID="0" sortOrder="0" createDate="2016-04-19T19:32:36" updateDate="2016-05-02T14:10:13" nodeName="Conson" urlName="conson" path="-1,1052,1130,1131" isDoc="" nodeType="1127" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1126" nodeTypeAlias="produkterItem">
        <hideInNavigation>0</hideInNavigation>
        <txtarea><![CDATA[<p><strong>Dansk udviklet, Dansk produceret, Dansk service. </strong></p>
<p> </p>
<p>Et Conson-system er et intelligent system, og en dansk eksport succes! </p>
<p>Systemet har funktioner såsom: </p>
<ul>
<li>Sluk alt </li>
<li>Gruppevis tænd/sluk </li>
<li>Scenesetting </li>
<li>Spar på energien </li>
<li>Tilhørende app </li>
</ul>
<p> </p>
<p>En stor fordel er at systemet er bagudkompatibel, hvilket betyder at selvom du har installeret et Conson-system i 1980'erne, kan det stadig vedligeholdes og kobles sammen med de nye produkter, der er udviklet gennem årene. Brugere af et Conson-system er fremtidsikret i og med de aldrig vil komme til at stå med et forældet anlæg. Conson følger med udviklingen! </p>
<p> </p>
<p>Datablade for Conson moduler helt tilbage fra 1980 og frem til idag. Tryk <a href="/datablade/" target="_blank">her.</a>  </p>
<p>Lær om Conson produkter. Tryk <a href="/laer-om-conson/" target="_blank">her</a></p>
<p>Conson egen hjemmeside. Tryk <a href="http://conson.com" target="_blank">her</a></p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></txtarea>
        <heading><![CDATA[Conson]]></heading>
      </produkterItem>
      <produkterItem id="1134" key="28b06709-f1c8-4db7-b19e-4fd7febc4f5b" parentID="1130" level="3" creatorID="1" sortOrder="3" createDate="2016-04-20T09:06:17" updateDate="2016-04-20T21:04:47" nodeName="Olimex" urlName="olimex" path="-1,1052,1130,1134" isDoc="" nodeType="1127" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1126" nodeTypeAlias="produkterItem">
        <hideInNavigation>0</hideInNavigation>
        <txtarea><![CDATA[<p>Olimex er vores foretrukne hardware leverandør når vi tester nye tiltag. Med Olimex print accelerer du udviklings hastighed og forkorter tiden fra ide til markedsføring af produkt. Olimex print anvendes med fordel til fremstilling af prototyper, 0-serie og mindre seriestørrelser. Dette uanset om man udvikler til lys, medicin, robot teknologi e.a. Printene kan bestilles direkte hos Olimex. Men bestiller du gennem os hjælper vi gerne med at finde kunder til dit projekt. Og ved større stykantal kan vi ofte skaffe dig rabat på printene. Se produkter Olimex, tryk <a href="https://www.olimex.com/" target="_blank">her</a>     </p>]]></txtarea>
        <heading><![CDATA[Olimex]]></heading>
      </produkterItem>
    </produkter>
    <datasheets id="1089" key="0d49b492-5739-4ff2-9fec-65d82d2304e1" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2016-03-22T12:51:53" updateDate="2016-04-19T19:37:43" nodeName="Datablade" urlName="datablade" path="-1,1052,1089" isDoc="" nodeType="1084" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1083" nodeTypeAlias="datasheets">
      <hideInNavigation>0</hideInNavigation>
      <heading><![CDATA[Datablade]]></heading>
      <datasheetsCatecory id="1101" key="70a3e059-d226-4b47-a6fd-ae88303c0545" parentID="1089" level="3" creatorID="1" sortOrder="0" createDate="2016-03-22T14:34:47" updateDate="2016-03-22T14:42:21" nodeName="XP_moduler" urlName="xp_moduler" path="-1,1052,1089,1101" isDoc="" nodeType="1086" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1085" nodeTypeAlias="datasheetsCatecory">
        <hideInNavigation>0</hideInNavigation>
        <heading><![CDATA[XP moduler]]></heading>
        <datasheetsCatecoryChild id="1119" key="f6b79a14-d281-46dd-babf-63cfeaccbc4a" parentID="1101" level="4" creatorID="1" sortOrder="0" createDate="2016-03-23T14:29:59" updateDate="2016-03-23T14:31:22" nodeName="XP_moduler_DK" urlName="xp_moduler_dk" path="-1,1052,1089,1101,1119" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1023/datablade_conson_ver_11.pdf]]></pdf>
          <heading><![CDATA[XP Moduler DK-Oversigts manual]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1102" key="3fd97947-443f-487c-8238-688f7d824ffa" parentID="1101" level="4" creatorID="1" sortOrder="1" createDate="2016-03-22T14:46:43" updateDate="2016-03-23T14:31:22" nodeName="Bruger_manual" urlName="bruger_manual" path="-1,1052,1089,1101,1102" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1006/user_manual_for_contool_2000xp-1.pdf]]></pdf>
          <heading><![CDATA[Bruger manual for contool]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1108" key="42345b5b-723b-44ab-a3e0-558779e026d2" parentID="1101" level="4" creatorID="1" sortOrder="2" createDate="2016-03-23T11:41:22" updateDate="2016-03-23T14:31:22" nodeName="XP11" urlName="xp11" path="-1,1052,1089,1101,1108" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1012/xp11en.pdf]]></pdf>
          <heading><![CDATA[XP11 Strømforsyning]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1109" key="ec697bb9-8ee8-42ed-9928-d9369891075f" parentID="1101" level="4" creatorID="1" sortOrder="3" createDate="2016-03-23T11:42:35" updateDate="2016-03-23T14:31:22" nodeName="XP20" urlName="xp20" path="-1,1052,1089,1101,1109" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1013/xp20en.pdf]]></pdf>
          <heading><![CDATA[XP20 Linkmodul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1110" key="5933397b-2e87-40cf-8d91-b0101ae523d4" parentID="1101" level="4" creatorID="1" sortOrder="4" createDate="2016-03-23T11:43:35" updateDate="2016-03-23T14:31:22" nodeName="XP24" urlName="xp24" path="-1,1052,1089,1101,1110" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1014/xp24en.pdf]]></pdf>
          <heading><![CDATA[XP24 Relæmodul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1111" key="1e9572bb-7b78-4650-8904-15909047dc50" parentID="1101" level="4" creatorID="1" sortOrder="5" createDate="2016-03-23T11:44:39" updateDate="2016-03-23T14:31:22" nodeName="XP31" urlName="xp31" path="-1,1052,1089,1101,1111" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1015/xp31en.pdf]]></pdf>
          <heading><![CDATA[XP31 Lysdæmp ]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1112" key="73ece044-189a-4fca-8cd3-e90074302422" parentID="1101" level="4" creatorID="1" sortOrder="6" createDate="2016-03-23T11:46:06" updateDate="2016-03-23T14:31:22" nodeName="XP33" urlName="xp33" path="-1,1052,1089,1101,1112" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1016/xp33en.pdf]]></pdf>
          <heading><![CDATA[XP33 Lysdæmp 3 kanal]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1113" key="eeab049e-4de3-4e66-8abd-37fa210147ee" parentID="1101" level="4" creatorID="1" sortOrder="7" createDate="2016-03-23T11:47:55" updateDate="2016-03-23T14:31:22" nodeName="XP70" urlName="xp70" path="-1,1052,1089,1101,1113" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1017/xp70.pdf]]></pdf>
          <heading><![CDATA[XP70 IR/UHF/TIME -link]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1114" key="e4be854a-1748-48cf-9b8f-a6d155789975" parentID="1101" level="4" creatorID="1" sortOrder="8" createDate="2016-03-23T11:51:39" updateDate="2016-03-23T14:31:22" nodeName="XP230" urlName="xp230" path="-1,1052,1089,1101,1114" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1018/xp130en.pdf]]></pdf>
          <heading><![CDATA[XP130/230 Ethernet Gateway]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1115" key="701faa42-9875-4ff9-8368-58b88b2bcfd2" parentID="1101" level="4" creatorID="1" sortOrder="9" createDate="2016-03-23T11:54:28" updateDate="2016-03-23T14:31:22" nodeName="XP2506" urlName="xp2506" path="-1,1052,1089,1101,1115" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1019/xp2506.pdf]]></pdf>
          <heading><![CDATA[XP2506 Bus trykknapper]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1116" key="23efdf20-4889-4555-bba1-fdcf7754bb21" parentID="1101" level="4" creatorID="1" sortOrder="10" createDate="2016-03-23T11:55:50" updateDate="2016-03-23T14:31:22" nodeName="XP28" urlName="xp28" path="-1,1052,1089,1101,1116" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1020/xp2506.pdf]]></pdf>
          <heading><![CDATA[XP28 Businterface til trykknapper]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1117" key="4a95daee-b1e9-49a6-8c74-b503ca821c39" parentID="1101" level="4" creatorID="1" sortOrder="11" createDate="2016-03-23T11:56:47" updateDate="2016-03-23T14:31:22" nodeName="Tilbehør" urlName="tilbehoer" path="-1,1052,1089,1101,1117" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1021/tilbehoer.pdf]]></pdf>
          <heading><![CDATA[Tilbehør]]></heading>
        </datasheetsCatecoryChild>
      </datasheetsCatecory>
      <datasheetsCatecory id="1090" key="c053d301-03d5-472f-ad09-6fa0605fefdd" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2016-03-22T12:52:24" updateDate="2016-03-22T14:44:02" nodeName="Concept2000" urlName="concept2000" path="-1,1052,1089,1090" isDoc="" nodeType="1086" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1085" nodeTypeAlias="datasheetsCatecory">
        <hideInNavigation>0</hideInNavigation>
        <heading><![CDATA[Concept 2000]]></heading>
        <datasheetsCatecoryChild id="1093" key="557f85d6-933b-4fd8-adfd-6d46bb86d97b" parentID="1090" level="4" creatorID="0" sortOrder="0" createDate="2016-03-22T13:07:36" updateDate="2016-03-22T17:17:00" nodeName="CP24" urlName="cp24" path="-1,1052,1089,1090,1093" isDoc="" nodeType="1088" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1003/cp24dk.pdf]]></pdf>
          <heading><![CDATA[CP24 relæ modul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1103" key="23f30a44-ce1f-4fea-b5b1-6d2176200e97" parentID="1090" level="4" creatorID="1" sortOrder="1" createDate="2016-03-22T16:54:29" updateDate="2016-03-22T17:17:21" nodeName="CP20" urlName="cp20" path="-1,1052,1089,1090,1103" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1007/cp20dk.pdf]]></pdf>
          <heading><![CDATA[CP20 Link modul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1104" key="3b922290-45c2-4def-9e5d-cfa92418954f" parentID="1090" level="4" creatorID="1" sortOrder="2" createDate="2016-03-22T16:56:35" updateDate="2016-03-22T17:23:57" nodeName="CP31" urlName="cp31" path="-1,1052,1089,1090,1104" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1008/cp31lrdk.pdf]]></pdf>
          <heading><![CDATA[CP31 Lysdæmper modul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1105" key="500dc951-70bb-4b2c-98a5-6b2f522cee34" parentID="1090" level="4" creatorID="1" sortOrder="3" createDate="2016-03-22T16:58:29" updateDate="2016-03-22T16:58:43" nodeName="CP70A" urlName="cp70a" path="-1,1052,1089,1090,1105" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1009/cp70adk.pdf]]></pdf>
          <heading><![CDATA[CP70A IR-link]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1106" key="44e884fd-de19-4d93-b4d3-f71c16b4412a" parentID="1090" level="4" creatorID="1" sortOrder="4" createDate="2016-03-22T17:00:00" updateDate="2016-03-22T17:00:29" nodeName="CP70C" urlName="cp70c" path="-1,1052,1089,1090,1106" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1010/cp70cdk.pdf]]></pdf>
          <heading><![CDATA[CP70C UHF-link]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1107" key="0fb8e8fb-eb0a-4a99-be1c-aac96350d9ef" parentID="1090" level="4" creatorID="1" sortOrder="5" createDate="2016-03-22T17:01:58" updateDate="2016-03-22T17:01:58" nodeName="CP70D" urlName="cp70d" path="-1,1052,1089,1090,1107" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1011/cp70ddk.pdf]]></pdf>
          <heading><![CDATA[CP70D time link]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1118" key="ecce6f34-b9ee-4326-a9eb-3d64793126c5" parentID="1090" level="4" creatorID="1" sortOrder="6" createDate="2016-03-23T11:58:57" updateDate="2016-03-23T11:59:00" nodeName="Tilbehør" urlName="tilbehoer" path="-1,1052,1089,1090,1118" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1022/tilbehoer.pdf]]></pdf>
          <heading><![CDATA[Tilbehør]]></heading>
        </datasheetsCatecoryChild>
      </datasheetsCatecory>
      <datasheetsCatecory id="1094" key="c7b31872-cc1e-4cac-8d18-3d60360e9734" parentID="1089" level="3" creatorID="1" sortOrder="2" createDate="2016-03-22T13:32:19" updateDate="2016-03-22T14:42:21" nodeName="HMS2000" urlName="hms2000" path="-1,1052,1089,1094" isDoc="" nodeType="1086" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1085" nodeTypeAlias="datasheetsCatecory">
        <hideInNavigation>0</hideInNavigation>
        <heading><![CDATA[HMS 2000]]></heading>
        <datasheetsCatecoryChild id="1095" key="242d8388-3387-4da2-b334-c4a21dbf80a1" parentID="1094" level="4" creatorID="1" sortOrder="0" createDate="2016-03-22T13:37:17" updateDate="2016-03-22T13:37:17" nodeName="1980_moduler" urlName="1980_moduler" path="-1,1052,1089,1094,1095" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1001/teknik_data_1980.pdf]]></pdf>
          <heading><![CDATA[1980 Moduler]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1120" key="1771e896-8df4-49d6-bb79-d5335ec2a829" parentID="1094" level="4" creatorID="1" sortOrder="1" createDate="2016-04-04T13:05:12" updateDate="2016-04-04T13:05:12" nodeName="DC_Manual" urlName="dc_manual" path="-1,1052,1089,1094,1120" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1024/hms2000.pdf]]></pdf>
          <heading><![CDATA[DC moduler Oversigts manual]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1121" key="a1d5c928-4d3a-417a-b2f6-9eb06727254a" parentID="1094" level="4" creatorID="1" sortOrder="2" createDate="2016-04-04T13:06:32" updateDate="2016-04-04T13:07:46" nodeName="DC22" urlName="dc22" path="-1,1052,1089,1094,1121" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1025/dc22.pdf]]></pdf>
          <heading><![CDATA[DC22 Relæmodul]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1122" key="9dd741f6-12af-4e43-827d-213e4a5b5971" parentID="1094" level="4" creatorID="1" sortOrder="3" createDate="2016-04-04T13:08:20" updateDate="2016-04-04T13:08:20" nodeName="DC41" urlName="dc41" path="-1,1052,1089,1094,1122" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1026/dc41.pdf]]></pdf>
          <heading><![CDATA[DC41 Skumringsrelæ]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1138" key="1b2c0a19-5ee7-416a-bc20-4e924e97b72b" parentID="1094" level="4" creatorID="1" sortOrder="4" createDate="2017-10-20T13:03:41" updateDate="2017-10-20T13:03:41" nodeName="DC600/1000" urlName="dc6001000" path="-1,1052,1089,1094,1138" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1027/dc-600_1000.pdf]]></pdf>
          <heading><![CDATA[DC 600/1000]]></heading>
        </datasheetsCatecoryChild>
      </datasheetsCatecory>
      <datasheetsCatecory id="1096" key="ad43d31d-b450-432f-a666-e9f3070913b6" parentID="1089" level="3" creatorID="1" sortOrder="3" createDate="2016-03-22T13:48:54" updateDate="2016-03-22T14:42:21" nodeName="Effekt_Lysdæmper" urlName="effekt_lysdaemper" path="-1,1052,1089,1096" isDoc="" nodeType="1086" creatorName="contronic@contronic.dk" writerName="Sofie Lund Mogensen" writerID="0" template="1085" nodeTypeAlias="datasheetsCatecory">
        <hideInNavigation>0</hideInNavigation>
        <heading><![CDATA[Effekt-Lysdæmpere ]]></heading>
        <datasheetsCatecoryChild id="1098" key="b9b8237b-71a0-41e8-8188-8d39b4643c3a" parentID="1096" level="4" creatorID="1" sortOrder="0" createDate="2016-03-22T14:15:09" updateDate="2016-03-22T14:30:42" nodeName="Lysdæmper_teknik" urlName="lysdaemper_teknik" path="-1,1052,1089,1096,1098" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1002/lysdaempning_taet-paa-teknikken.pdf]]></pdf>
          <heading><![CDATA[Lysdæmper manual                                                                            ]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1099" key="dfaf7662-f99c-433c-99a6-db23876e4711" parentID="1096" level="4" creatorID="1" sortOrder="1" createDate="2016-03-22T14:26:56" updateDate="2016-03-22T14:26:56" nodeName="Lysdæmper_gml_model" urlName="lysdaemper_gml_model" path="-1,1052,1089,1096,1099" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1004/teknisk_data_lysdaemper_1990.pdf]]></pdf>
          <heading><![CDATA[Lysdæmper datablad fra før 1990]]></heading>
        </datasheetsCatecoryChild>
        <datasheetsCatecoryChild id="1100" key="3344b2cd-5bee-45a5-9775-e55a54cbb0a5" parentID="1096" level="4" creatorID="1" sortOrder="2" createDate="2016-03-22T14:28:40" updateDate="2016-03-22T14:28:43" nodeName="Lysdæmper_gml_model_sammenkobling" urlName="lysdaemper_gml_model_sammenkobling" path="-1,1052,1089,1096,1100" isDoc="" nodeType="1088" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1087" nodeTypeAlias="datasheetsCatecoryChild">
          <hideInNavigation>0</hideInNavigation>
          <pdf><![CDATA[/media/1005/teknisk_data_sammenkobling_1990.pdf]]></pdf>
          <heading><![CDATA[Lysdæmper sammenkobling fra før 1990]]></heading>
        </datasheetsCatecoryChild>
      </datasheetsCatecory>
    </datasheets>
    <installations id="1065" key="5fd4c921-1fdf-40f9-9d7e-279240268350" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2016-03-10T13:53:45" updateDate="2016-05-03T16:14:01" nodeName="Installatør" urlName="installatoer" path="-1,1052,1065" isDoc="" nodeType="1060" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1059" nodeTypeAlias="installations">
      <hideInNavigation>0</hideInNavigation>
      <text2><![CDATA[<p class="font_7"><span class="color_2">Kom på listen som vi henviser privat-kunder til <br /></span><strong><span class="color_2">Kender du allerede til Conson-systemer og kan installere og servicere? - Så meld dig på listen med det samme!<br /></span></strong><span class="color_2">Føler du dig ikke sikker nok i Consons systemer, så klik <a data-id="1052" href="/{localLink:1052}" title="Forside"><strong>her</strong></a>. Her lærer vi dig, vha. forskellige materialer, alt hvad du bør vide for at være på listen.  </span></p>]]></text2>
      <heading><![CDATA[Anbefalede Conson-installatører:]]></heading>
      <text><![CDATA[<p>Følgende har meldt sig med erfaring i at servicere og projektere Conson-anlæg. Listen udvides løbende. <em>Contronic kvalitets tjekker ikke firmaer og personer som er tilmeldt. Men vi har haft positiv samarbejde med påførte firmaer.</em><br />Som ejer af anlæg eller som bygherrer kan du bruge listen som støtte til at finde samarbejdspartner i dit område. Du aftaler selv videre forløb med installatøren. <em>Kvalitet og pris for udført elektriker arbejde ligger uden for Contronics indflydelse. </em></p>]]></text>
      <installationsItem id="1066" key="8e5423af-be5f-4eae-a25b-58e3375e34e0" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2016-03-10T13:54:38" updateDate="2017-01-25T16:44:24" nodeName="René Mortensen" urlName="rené-mortensen" path="-1,1052,1065,1066" isDoc="" nodeType="1064" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://www.jcjensen.dk/]]></homepage>
        <firm><![CDATA[J.C. Jensen A/S]]></firm>
        <email><![CDATA[rbm@jcjensen.dk]]></email>
        <navn><![CDATA[René Mortensen]]></navn>
        <city><![CDATA[4760 Vordingborg ]]></city>
        <number><![CDATA[55370172]]></number>
      </installationsItem>
      <installationsItem id="1067" key="ec2d8dcc-0f1e-41fb-8ca6-d83368ee033f" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2016-03-10T14:07:01" updateDate="2017-01-25T16:45:42" nodeName="Allan Aakerblad Jensen" urlName="allan-aakerblad-jensen" path="-1,1052,1065,1067" isDoc="" nodeType="1064" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://www.vestjyskel.dk/]]></homepage>
        <firm><![CDATA[Vestjysk EL ApS]]></firm>
        <email><![CDATA[ aaj@vestjyskel.dk]]></email>
        <navn><![CDATA[Allan Aakerblad Jensen]]></navn>
        <city><![CDATA[Ringkøbing Skjern]]></city>
        <number><![CDATA[22213500]]></number>
      </installationsItem>
      <installationsItem id="1068" key="3437a1dd-a059-433c-836e-04a11d9afadc" parentID="1065" level="3" creatorID="0" sortOrder="2" createDate="2016-03-10T14:07:21" updateDate="2017-01-25T16:47:11" nodeName="Rene Poulsen" urlName="rene-poulsen" path="-1,1052,1065,1068" isDoc="" nodeType="1064" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://www.ag-electric.dk/]]></homepage>
        <firm><![CDATA[Ag Electric A/S ]]></firm>
        <email><![CDATA[Rgp@ag-electric.dk]]></email>
        <navn><![CDATA[Rene Poulsen]]></navn>
        <city><![CDATA[Chr. Feld Haderslev Aabenraa Sønderborg]]></city>
        <number><![CDATA[21657865]]></number>
      </installationsItem>
      <installationsItem id="1069" key="34ac121c-8a98-4a44-a437-96e43a4f9fda" parentID="1065" level="3" creatorID="0" sortOrder="3" createDate="2016-03-10T14:07:37" updateDate="2017-01-17T14:58:17" nodeName="Henrik Christensen" urlName="henrik-christensen" path="-1,1052,1065,1069" isDoc="" nodeType="1064" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://www.kragelundel.dk/]]></homepage>
        <firm><![CDATA[Kragelund El A/S ]]></firm>
        <email><![CDATA[pihe@fibermail.dk]]></email>
        <navn><![CDATA[Henrik Christensen]]></navn>
        <city><![CDATA[Silkeborg og omegn]]></city>
        <number><![CDATA[86867132]]></number>
        <linkName><![CDATA[Kragelund El]]></linkName>
      </installationsItem>
      <installationsItem id="1070" key="f951b594-40d9-4264-aafe-51a4db254e9e" parentID="1065" level="3" creatorID="0" sortOrder="4" createDate="2016-03-10T14:07:55" updateDate="2017-01-25T16:50:07" nodeName="Allan Olsen" urlName="allan-olsen" path="-1,1052,1065,1070" isDoc="" nodeType="1064" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://el-leif.dk/]]></homepage>
        <firm><![CDATA[Leif Rasmussen Aps ]]></firm>
        <email><![CDATA[info@el-leif.dk]]></email>
        <navn><![CDATA[Allan Olsen]]></navn>
        <city><![CDATA[2690 Karlslunde - København]]></city>
        <number><![CDATA[4615421]]></number>
      </installationsItem>
      <installationsItem id="1135" key="7c31e65c-1e8e-4e72-a66d-2fd38db5e05d" parentID="1065" level="3" creatorID="1" sortOrder="5" createDate="2016-05-20T11:38:55" updateDate="2017-01-25T16:51:42" nodeName="Tommy_johannessen" urlName="tommy_johannessen" path="-1,1052,1065,1135" isDoc="" nodeType="1064" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1063" nodeTypeAlias="installationsItem">
        <hideInNavigation>0</hideInNavigation>
        <homepage><![CDATA[http://www.tommy-johannessen.dk/]]></homepage>
        <firm><![CDATA[El-installatør]]></firm>
        <email><![CDATA[tommy@tommy-johannessen.dk]]></email>
        <navn><![CDATA[Tommy Johannessen ]]></navn>
        <city><![CDATA[Storvorde / Aalborg]]></city>
        <number><![CDATA[98317477]]></number>
      </installationsItem>
    </installations>
    <elearning id="1075" key="658fd277-f83e-423c-be8d-bd9f1959c976" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2016-03-10T14:27:41" updateDate="2016-05-03T16:15:21" nodeName="Lær om Conson" urlName="laer-om-conson" path="-1,1052,1075" isDoc="" nodeType="1072" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1071" nodeTypeAlias="elearning">
      <hideInNavigation>0</hideInNavigation>
      <heading><![CDATA[Lær om Conson]]></heading>
      <introTxt><![CDATA[<p><span>Lær om Conson-installationer vha. nedenstående materiale. Er du installatør, så kom på<a href="/installatoer/"> listen </a>over dem vi anbefaler vores kunder at ringe til. Står du med en opgave, som kræver hjælp ud over nedenstående gennemgang, er vi aldrig længere væk end en e-mail eller et opkald.</span></p>]]></introTxt>
      <elearningItem id="1076" key="e078957b-d452-470c-8e52-5e4e2348490f" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2016-03-10T14:29:48" updateDate="2016-03-15T10:46:06" nodeName="Intro" urlName="intro" path="-1,1052,1075,1076" isDoc="" nodeType="1074" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><span>Intro Film - Lær om Conson modul system. </span></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/2MXHwb_tkPI?rel=1&amp;controls=1&amp;showinfo=0]]></video>
        <heading><![CDATA[Intro]]></heading>
      </elearningItem>
      <elearningItem id="1077" key="642d4057-eaf7-49de-ac08-8abc188b30e3" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2016-03-10T14:36:08" updateDate="2016-03-15T10:53:56" nodeName="DC-anlæg" urlName="dc-anlaeg" path="-1,1052,1075,1077" isDoc="" nodeType="1074" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><span>Denne video lærer dig om Consons DC-anlæg. Den helt store salgssucces siden først i firserne. Flere af modultyperne lagerføres stadig og vil også blive produceret fremadrettet. De fleste udgåede moduler kan erstattes af bagudkompatible moduler.</span></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/PpG0kTt_Ho8?rel=0&amp;controls=1&amp;showinfo=0]]></video>
        <heading><![CDATA[DC-anlæg]]></heading>
      </elearningItem>
      <elearningItem id="1078" key="964a2a07-81b5-4f79-ac69-2b16016fd96a" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2016-03-10T14:37:00" updateDate="2016-03-15T10:51:59" nodeName="CP-anlæg" urlName="cp-anlaeg" path="-1,1052,1075,1078" isDoc="" nodeType="1074" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><span>Lær om Consons CP-anlæg, der er Consons store eksport salgssucces siden først i halvfemserne. Modultyperne lagerføres stadig og vil også blive produceret fremadrettet. Nyere XP-moduler kan erstatte ældre CP-moduler.</span></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/0Ujq5w56ToY?rel=0&amp;controls=1&amp;showinfo=0]]></video>
        <heading><![CDATA[CP-anlæg]]></heading>
      </elearningItem>
      <elearningItem id="1079" key="87a20aec-ec56-47c6-9245-33234ff5e988" parentID="1075" level="3" creatorID="0" sortOrder="3" createDate="2016-03-10T14:39:52" updateDate="2016-03-22T14:11:58" nodeName="XP-anlæg" urlName="xp-anlaeg" path="-1,1052,1075,1079" isDoc="" nodeType="1074" creatorName="Sofie Lund Mogensen" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><span>Denne video lærer dig om Consons XP-system opbygning. XP-serien er den nyeste blandt Consons sortiment, og giver mange flere muligheder end tidligere. </span></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/dsjPW6Ymhzw?rel=0&amp;controls=1&amp;showinfo=0]]></video>
        <heading><![CDATA[XP-System]]></heading>
      </elearningItem>
      <elearningItem id="1097" key="77ced816-5e9c-420f-8dad-29171b40d5ba" parentID="1075" level="3" creatorID="1" sortOrder="4" createDate="2016-03-22T13:57:44" updateDate="2016-03-22T13:57:54" nodeName="XP_moduler" urlName="xp_moduler" path="-1,1052,1075,1097" isDoc="" nodeType="1074" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p>Lær om de enkle XP moduler</p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/l5EfHReWKic]]></video>
        <heading><![CDATA[XP moduler]]></heading>
      </elearningItem>
      <elearningItem id="1123" key="bd756222-ddb6-49ae-93ea-865586d47c3f" parentID="1075" level="3" creatorID="1" sortOrder="5" createDate="2016-04-11T11:17:51" updateDate="2016-04-13T14:33:13" nodeName="4004-2" urlName="4004-2" path="-1,1052,1075,1123" isDoc="" nodeType="1074" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p>Indjusering 4004-2 print.</p>
<p>Indjustere af: Maximum, Minimum, Skelne -niveauer, samt Dagslysstyring </p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/ZCdOztFKN-A]]></video>
        <heading><![CDATA[Indjustering 4004-2]]></heading>
      </elearningItem>
      <elearningItem id="1129" key="411096bb-6328-4efd-ac23-25514fe72315" parentID="1075" level="3" creatorID="1" sortOrder="6" createDate="2016-04-13T14:19:43" updateDate="2016-04-13T14:21:04" nodeName="LEDTest" urlName="ledtest" path="-1,1052,1075,1129" isDoc="" nodeType="1074" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p>Test af LED pærer med forkantdæmper</p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/eC3xS76IMak]]></video>
        <heading><![CDATA[LED Test med forkant dæmper]]></heading>
      </elearningItem>
      <elearningItem id="1136" key="04657787-8e94-4c32-b16c-58e988219ece" parentID="1075" level="3" creatorID="1" sortOrder="7" createDate="2017-09-08T10:40:03" updateDate="2017-09-08T11:44:14" nodeName="Education sæt 1. Harware" urlName="education-saet-1-harware" path="-1,1052,1075,1136" isDoc="" nodeType="1074" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><a href="https://www.youtube.com/watch?v=a6hzDR-2TSQ&amp;feature=em-upload_owner" target="_blank">Lær om education sættets moduler og forbindelser</a></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/a6hzDR-2TSQ]]></video>
        <heading><![CDATA[Education sæt 1. Hardware]]></heading>
      </elearningItem>
      <elearningItem id="1137" key="f93bc5db-257e-4e26-8eb0-af25c37346dd" parentID="1075" level="3" creatorID="1" sortOrder="8" createDate="2017-09-08T12:13:40" updateDate="2017-09-08T12:17:05" nodeName="Education sæt 1. Contool" urlName="education-saet-1-contool" path="-1,1052,1075,1137" isDoc="" nodeType="1074" creatorName="contronic@contronic.dk" writerName="contronic@contronic.dk" writerID="1" template="1073" nodeTypeAlias="elearningItem">
        <hideInNavigation>0</hideInNavigation>
        <text><![CDATA[<p><a href="https://www.youtube.com/embed/ysVVTOIovnk">Lær om contool opsætning</a></p>]]></text>
        <video><![CDATA[https://www.youtube.com/embed/ysVVTOIovnk]]></video>
        <heading><![CDATA[Education sæt 2. Contool]]></heading>
      </elearningItem>
    </elearning>
    <kontakt id="1082" key="899f3a6b-898d-4daf-aaf1-7dee1384b2cd" parentID="1052" level="2" creatorID="0" sortOrder="5" createDate="2016-03-10T15:15:38" updateDate="2016-04-19T19:37:44" nodeName="Kontakt" urlName="kontakt" path="-1,1052,1082" isDoc="" nodeType="1081" creatorName="Sofie Lund Mogensen" writerName="Sofie Lund Mogensen" writerID="0" template="1080" nodeTypeAlias="kontakt">
      <hideInNavigation>0</hideInNavigation>
      <heading><![CDATA[Kontakt]]></heading>
    </kontakt>
  </home>
</root>